#card_div {
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Align items vertically */
}

#pp {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}

.profile-info {
    margin-left: 10px; /* Adjust spacing between profile picture and info */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

#username {
    margin-bottom: 20px; 
}

#last_message {
    margin: 0; 
}

#is_online {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    margin-left: auto; /* Move the element to the right */
    margin-right: 10px; /* Add some margin on the right side */
    border-radius: 50%; /* Make it circular */
}
